.main-layout-container{
  display: flex;
  flex-direction: column;
  height: 100VH; 
  width: 100%;
  .main-layout-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    .main-layout-content-left{ 
      width: 220px;
      height: 100%;}
  }
}