.main-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .main-layout-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .main-layout-content-left {
      width: 220px;
      height: 100%;
    }
  }
}
